# Ignorar la carpeta __pycache__ de Python
__pycache__/

# Ignorar archivos de compilación de Python
*.pyc
*.pyo

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de IDEs
*.idea/
*.vscode/